.small {
    width: 40%;
    margin: 2%;
    padding: 10px;
  margin-left: 70px;
  }

  .btn_add{
    width:110px;
    border-radius: 3px;
    height: 40px;
    border: none;
    margin-left: 83px;
    color:rgb(255, 255, 255);
    background-color: rgb(82, 82, 82);
    font-size: 12px;
  }
  .btn_add_two{
    width:110px;
    border-radius: 3px;
    height: 40px;
    border: none;
    margin-left: 205px;
    margin-top: -85px;
    position: absolute;
    color:rgb(255, 255, 255);
    background-color: rgb(82, 82, 82);
    font-size: 12px;
  }
  .btn_add_three{
    width:110px;
    border-radius: 3px;
    height: 40px;
    border: none;
    margin-left: 430px;
    margin-top: -130px;
    position: absolute;
    color:rgb(255, 255, 255);
    background-color: rgb(82, 82, 82);
    font-size: 12px;
  }
  .btn_add_four{
    width:110px;
    border-radius: 3px;
    height: 40px;
    border: none;
    margin-left: 660px;
    margin-top: -175px;
    position: absolute;
    color:rgb(255, 255, 255);
    background-color: rgb(82, 82, 82);
    font-size: 12px;
  }
  .img_al{
    width: 200px;
    height: 215px;
  }

  .title_name{
    width: 500px;
    margin-left: 140px;
  }

  .text_artist{
    position: absolute;
    margin-top: 230px;
    margin-left: -200px;
    & i{
      margin-left: 75px;
    }
  }
  .star{
    margin-top: 40px;
    margin-left: -115px;
  }
  .text_cont{
    width: 190px;
    margin-left: 169px;
    text-align: left;
  }
  .text_cont_two{
    width: 190px;
    margin-left: 219px;
    text-align: left;
  }
  .text_cont_three{
    width: 190px;
    margin-left: 220px;
    text-align: left;
  }
  .text_cont_four{
    width: 190px;
    margin-left:230px;
    text-align: left;
  }

  .price{
    margin-left: -100px;
    position: absolute;
    margin-top: 10px;
    font-size: 20px;
  }
  .contain_cart{
    position: absolute;
    margin-top: -454px;
    margin-left: 170px;
  }

  .contain_cart_three{
    position: absolute;
    margin-top: -500px;
    margin-left: 394px;
  }
  .contain_cart_four{
    position: absolute;
    margin-top: -547px;
    margin-left: 625px;
  }

 